<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  
  <p>
    Splurty was built by <a traget="_blank" href="https://github.com/Ryomablue">Andrew Hubbard</a>.
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/">here</a>.
  </p>
  
  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'Andrew.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Andrew Hubbard</h2>
    <br />
    <p>
      Andrew is a traveler and teacher turned coder. Having spent years overseas, he decided to become a web dev to create sites and apps to help other furture travelers.
    </p>
  </div>
  
</div>

<br class="clear" />
<br />
<br />
<br />
<br />